<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Guests | All States</title>
    <table style="">
        <tbody>
            <tr>
              <th>Guest</th>
              <th>State</th>
            </tr>
            <tr th:each="guest : ${guests}">
                <td th:text="${guest.getKey()}"></td>
                <td th:text="${guest.getValue().isEmpty()}? 'N/A' : ${guest.getValue()}"></td>
            </tr>
        </tbody>
    </table>
</head>
<body>

</body>
</html>